.blocks-container {
  display: grid;
  grid-auto-rows: minmax(80px, auto);
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  justify-content: center;  
  justify-items: center;    
  gap: 1rem;
  padding: 1rem;
  padding-top: 40px;
}

.block-item {
  min-width: 120px;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #222;
  color: #fff;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .navbar-logo {
    height: 40px;
  }
}

.navbar-logo {
  height: 100px;
  transform: translateY(8px);
}

.navbar {
  overflow: visible;
}

